<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SMConfigItem</key>
	<dict>
		<key>objectName</key>
		<string>SMConfigItem</string>
		<key>elementPath</key>
		<dict>
			<key>locServer</key>
			<string>interface_url</string>
			<key>countToRestart</key>
			<string>count_to_restart</string>
			<key>delayToScan</key>
			<string>delay_to_scan</string>
			<key>delayToCheckIsFinished</key>
			<string>delay_to_check_is_finished</string>
			<key>checkNumberString</key>
			<string>monitor_num</string>
		</dict>
		<key>rootPath</key>
		<string>/result</string>
	</dict>
	<key>SMSendItem</key>
	<dict>
		<key>objectName</key>
		<string>SMSendItem</string>
		<key>elementPath</key>
		<dict>
			<key>numberString</key>
			<string>phone</string>
			<key>idString</key>
			<string>id</string>
		</dict>
		<key>rootPath</key>
		<string>/</string>
	</dict>
	<key>SMSendInfo</key>
	<dict>
		<key>objectName</key>
		<string>SMSendInfo</string>
		<key>elementPath</key>
		<dict>
			<key>scanType</key>
			<string>scan_type</string>
			<key>messageString</key>
			<string>content</string>
			<key>sendInterval</key>
			<string>interval</string>
			<key>isLastItem</key>
			<string>is_last</string>
			<key>sendItemArray</key>
			<string>phone_list/element</string>
		</dict>
		<key>relationshipMapping</key>
		<dict>
			<key>sendItemArray</key>
			<string>SMSendItem</string>
		</dict>
		<key>rootPath</key>
		<string>/root</string>
	</dict>
	<key>SMSendStatus</key>
	<dict>
		<key>objectName</key>
		<string>SMSendStatus</string>
		<key>elementPath</key>
		<dict>
			<key>status</key>
			<string>status</string>
		</dict>
		<key>rootPath</key>
		<string>/root</string>
	</dict>
</dict>
</plist>
